.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    // margin: 0 60px 33px;

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: $color-primary;
        border-radius: 10px;
        color: $color-white;
        font-weight: 500;
        min-width: 100%;
        cursor: pointer;
    }

    &__text {
        background-color: $color-secondary;
        color: $color-primary;
        padding: 20px 10px 10px;
        border-radius: 0 0 10px 5px;
        width: 100%;
    }
}