// _____ UTILS _____
@import "./utils/variables";
@import "./utils/mixins";

// ______ Base _____
@import "./base/rules";
@import "./base/normalize";

// ______ COMPONENTS _____
@import "./components/Header";
@import "./components/Footer";
@import "./components/Lodging";
@import "./components/Banner";
@import "./components/Collapse";
@import "./components/Gallery";
@import "./components/Card";
@import "./components/Slideshow";

// _____ PAGES ______
@import "./pages/Home";
@import "./pages/About";
@import "./pages/Page404";
@import "./pages/Lodging";