/* ______ COLORS _____ */
$color-primary: #FF6060;
$color-secondary: #F6F6F6;
$color-black: #000000;
$color-white: #FFFFFF;
$color-avatar: #C4C4C4;
$color-empty-star : #E3E3E3;


/* _____ POLICE _____ */
$font: "Montserrat", sans-serif;

/* _____ MEDIA QUERIES _____ */
// MEDIA QUERIES
$mobile-screen: "screen and (max-width: 768px)";