*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $color-white;
    width: 100%;
    margin: 20px;
    font-family: "Montserrat",
        sans-serif;
    font-weight: 500;
    font-size: 12px;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}