.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 223px;
    margin: 30px 0;
    border-radius: 25px;
    overflow: hidden;

    &__img {
        height: 100%;
        width: 100%;
        // background: $color-black;
        // mix-blend-mode: darken;
        // opacity: 0.3;
    }

    &__text {
        display: grid;
        place-content: center;
        text-align: center;
        padding: 0 1rem;
        position: absolute;
        font-size: 3rem; // 48px
        font-weight: 500;
        color: $color-white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

// _____ RESPONSIVE _____

@media #{$mobile-screen} {
    .banner {
        border-radius: 10px;
        height: 111px;
        width: 100%;

        &__img {
            border-radius: 10px;
        }

        &__text {
            font-size: 1.5rem; // 24px
        }
    }
}