.lodging-card {
    height: 255px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
        border-radius: 10px;
    }

    &:hover {
        transform: scale(1.1);
    }

}

.lodging-title {
    font-size: 18px;
    text-align: left;
    color: $color-white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15% 1rem 1rem;
}