footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px -60px 0;
    height: 210px;
    background-color: $color-black;
    color: $color-white;


    & img {
        margin-bottom: 40px;
    }

    & p {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: $color-white;
    }
}

@media #{$mobile-screen} {
    footer {
        font-size: 0.8rem;

        p {
            font-size: 1rem;
        }
    }
}