.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 25px;
    gap: 5rem;
    padding: 5rem;

    a {
        display: block;
    }
}

@media #{$mobile-screen} {

    .gallery {
        background: none;
        padding: 0;
        gap: 1rem;
    }
}