header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 145px;
    height: 47px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 17px;

    &__link {
        display: flex;
        justify-content: space-between;

        &--active {
            text-decoration: underline;
        }
    }
}

.navbar__link,
.navbar__link--active {
    text-transform: uppercase;
    color: #FF6060;
    text-decoration: none;
}