header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;

    & li {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
    }

    &--active {
        text-decoration: underline;
    }
}

// __________ BREAKPOINT ___________

@media #{$mobile-screen} {

    .header-logo {
        max-width: 145px;
    }

    .nav-links li {
        font-size: 0.75rem; // 12px
    }
}